server:
  port: 4003
spring:
  profiles:
    active: dev
auth:
  jwks: https://hceris.eu.auth0.com/.well-known/jwks.json
  enabled: true
pact:
  enabled: false

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
    flyway:
      enabled: true

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:testdb;DATABASE_TO_UPPER=false
    driverClassName: org.h2.Driver
  flyway:
    locations: classpath:/db/migration,classpath:/db/testdata

---

spring:
  config:
    activate:
      on-profile: pact
  datasource:
    url: jdbc:h2:mem:testdb;DATABASE_TO_UPPER=false
    driverClassName: org.h2.Driver
  flyway:
    locations: classpath:/db/migration,classpath:/db/testdata
auth:
  enabled: false
pact:
  enabled: true

---

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://db/cookery2_production?createDatabaseIfNotExist=true
    driverClassName: com.mysql.cj.jdbc.Driver
